.board{
    border: 10px solid rgb(187, 187, 187);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 50px auto;
    width: 500px;
}

  .row{
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .white{
    background-color: white;
    flex: 1;
  }
  
  .black{
    background-color: black;
    flex: 1;
  }


